<h1>Access Camp</h1>
<p><%= link_to "View Campers", campers_path %> |
<%= link_to "View Activities", activities_path%> |
<%= link_to "Activity Sign Up Form", new_signup_path %></p>
<h2>New Camper Registration</h2>
<%= render "camper" %>